.btn {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    border: none;
}

.default {
    background-color: var(--white);
    color: var(--violet);
}

.primary {
    background-color: var(--violet);
    color: var(--white);
}

.primary:not(:disabled):hover {
    outline: 3px solid #ebe8ff;
}

.default:not(:disabled, .active):hover {
    background-color: #f0f0f0;
}

.btn:disabled {
    background-color: rgb(225, 225, 225);
    color: rgb(135, 137, 141);
    cursor: not-allowed;
}

.active {
    color: var(--violet);
    background-color: #ebe8ff;
}

@media only screen and (max-width: 600px) {
    .btn {
        font-size: 12px;
    }
}