.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnAdd {
    border: none;
    background-color: transparent;
    color: var(--violet);
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    cursor: pointer;
}

.btnAdd svg {
    font-size: 18px;
}

.actions {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 200px;
    min-height: 100px;
    overflow-y: visible;
}

.arrowBtn {
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 4px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 34px;
    height: 24px;
}

.paginationCircle {
    width: 8px;
    height: 8px;
    background-color: #d8d8d8;
    border-radius: 50%;
}

.paginationCircleActive {
    background-color: var(--violet);
}

.suggestedAttributesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.suggestedAttributesContainer>span {
    font-size: 12px;
    font-weight: 500;
    color: var(--subtitle);
}

.suggestedAttributesContainer>button {
    color: #939393;
    background-color: #ececec;
    border: none;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.suggestedAttributesContainer>button:hover {
    background-color: #ebe8ff;
}

.hint {
    color: var(--subtitle);
    font-size: 12px;
}