.container {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 4px;
}

.value {
    flex: 1;
    font-size: 12px;
    border-radius: 3px;
}

.container input {
    background-color: var(--white);
    padding: 8px;
    border: 1px solid #e6e6e6;
}

.container input::placeholder {
    color: #d2d2d2;
}

.maxValue,
.key {
    width: 100px;
    font-size: 12px;
    border-radius: 3px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 4px;
}

.dropdown {
    flex: 1;
}