.container {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    padding: 12px 4px 0;
}

.container button {
    cursor: pointer;
}

.btnBack {
    width: 40px;
    height: 38px;
    aspect-ratio: 1;
    font-size: 24px;
    border: none;
}

.btn {
    flex: 1;
}